/*/////////////////////////////
------------PHONE------------
////////////////////////////*/

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
    main{
        left: 0!important;
        right: 0!important;
        top: 0!important;
        bottom: 0;!important}

    .menu-principal{display: none;}

    .line-rs{display: none;}

    #blc-mention{display: none!important;}

    #langage{display: none;}

    #slide-menu{display: none;}

    #accueil h3 {
    font-size: 1em;
    letter-spacing: 9px;}

    .line-separator {
        margin-top: 20px;
        margin-bottom: -20px;}


     #accueil h1 {
     font-size: 2em;
     letter-spacing: 0px;
     font-family: 'Vollkorn', serif;
     opacity: 0;}

    #blc-profil {
    position: absolute!important;
    width: 100%!important;
    top: 380px!important;
    height: 100%!important;
    left: 0!important;
    margin-left: 0!important;
    overflow: scroll!important;}

    .text-profil {
    height: 50%!important;
    width:100%!important;
    position: absolute!important;
    padding: 30px 30px!important;
    bottom: 200px!important;
    transform: none !important;
    left: 0;!important}

    .img-profil {
    width: 100%!important;
    height: 50%!important;
    left: 0!important;
    right: 0!important;
    top: 0;!important}

    .ctn-contact{display: none;}

    .blc-mask-contact {
    height: 100%!important;
    position: absolute!important;
    width: 100%!important;
    left: 0!important;
    top: 0!important;
    overflow: hidden!important;
    opacity: 0.3;!important}

    .blc-info-contact {
    position: fixed;
    right: 50%!important;
    height: 100%!important;
    width: 100%!important;
    margin-right: -75%;!important
    top: 0;
}

    .info {
    width: 100%!important;
    top: 50%!important;
    transform: translateY(-50%)!important;
    margin-left: -18%!important;
    }
    .btn-message {display: none!important}
    .blc-form{display: none!important}

}


/*/////////////////////////////
-----------TABLETTE----------
////////////////////////////*/

@media screen and (min-width:768px) and (max-width:1024px) {
    .menu-principal{display: none;}
    #slide-menu{display: none;}
    #accueil h1 {
        font-size: 4em;
        letter-spacing: 5px;}
    .text-profil {
    height: 50%!important;
    width:100%!important;
    position: absolute!important;
    padding: 30px 30px!important;
    bottom: 200px!important;
    transform: none !important;
    left: 0;!important}

    .img-profil {
    width: 100%!important;
    height: 50%!important;
    left: 0!important;
    right: 0px!important;
    top: 0;!important}

    .blc-info-contact {
    right: 70px!important;
    }



    .info {
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -35%;
    transform: translateY(-75%);
    /* margin: 0 auto; */
}

    .blc-mask-contact {
    height: 100%!important;
    position: absolute!important;
    width: 50%!important;
    left: 0!important;
    top: 0!important;
    overflow: hidden!important;
    opacity: 0.3;!important}

}

/*/////////////////////////////
-----------NOTEBOOK-----------
////////////////////////////*/
@media screen and (min-width:1024px){
    #btn-burger-menu{display: none;}
}
